body {
    display: block;
    margin: 0px;
}


/* header start  */

.logo {
    width: 15%;
}

#logo {
    width: 100%;
}

.nav-menu {
    max-width: 100%;
    width: 100%;
}

.row.xs-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul.row-ul {
    display: flex;
}

.xs-header {
    background: #cecfd3;
    padding: 0 20px;
}

ul.row-ul li {
    list-style: none;
    margin: 0 10px;
}

ul.row-ul li a,
.login-register ul li a {
    color: black;
    text-decoration: none;
}

.login-register ul li {
    list-style: none;
    margin: 0 10px;
}

.btn-login {
    background: #0d7a34;
    padding: 8px;
    border-radius: 4px;
    color: white !important;
}

@media screen and (max-width: 768px) {
    .login-register {
        display: none;
    }
}